@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


// variables
$black: #333333;
$white: #ffffff;
$orange: #cc6633;
$green: #a4cc33;
$grayf3: #f3f3f3;
$grayf4: #f4f4f4;
$grayd9: #d9d9d9;
$grayc4: #c4c4c4;
$grayec: #ececec;
$gray99: #999999;
$gray66: #666666;

//animation
$animation-speed: 1000ms;
$dot-size: 20px;

@mixin animation($delay: 0ms){
	animation: fx $animation-speed ease infinite $delay;
}

body {
    padding: 0;
    margin: 0;
    background-color: $grayf4;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Roboto', serif;
}

* {
    color: $black;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

p{
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    border: none;
}